@model MyNUnitWeb.Models.TestResultModel

<!DOCTYPE html>

<html>
<head>
    <title>Test result</title>
</head>
<body>
    <div>
        @foreach (var assemblyTestResult in @Model.AssemblyTestResults)
        {
            <p>Assembly: @assemblyTestResult.Name</p>

            @if (assemblyTestResult.Succeeded.Any())
            {
                <p>Succeeded:</p>
                foreach (var test in assemblyTestResult.Succeeded)
                {
                    <p>@test.Name, execution time: @test.ExecutionTime ms</p>
                }
            }

            @if (assemblyTestResult.Failed.Any())
            {
                <p>Failed:</p>
                foreach (var test in assemblyTestResult.Failed)
                {
                    <p>@test.Name, execution time: @test.ExecutionTime ms</p>
                }
            }
            @if (assemblyTestResult.Ignored.Any())
            {
                <p>Ignored:</p>
                foreach (var test in assemblyTestResult.Ignored)
                {
                    <p>@test.Name, ignore message: @test.IgnoreMessage</p>
                }
            }
         }
    </div>
</body>
</html>